@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('Monaco.woff') format('woff');
}

@property --background {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(12, 12, 12);
}

@property --outline {
    syntax: "<color>";
    inherits: false;
    initial-value: rgb(22, 198, 12);
}

html {
    height: 100%;
}

body {
    height: 100%;
    color: var(--outline);
    background-color: var(--background);
    font-family: Kode Mono;
    /*font-family: Monaco;*/
}

#main {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#projects {
    width: 100%;
    margin-top: 5%;

    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
    justify-content: center;
}

.thumbnail-container {
    width: 20%;
    aspect-ratio: 1/1;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: var(--background);
    outline: 5px solid var(--outline);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
    width: 100%;
    height: 100%;
    transition: box-shadow 0.4s;
    
    background-size: contain;
    background-repeat: no-repeat;
}

.thumbnail:not([data-open="1"]):hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.9) inset;
}

hr {
    border: none;
    width: 100%;
    height: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    background-color: var(--outline);
}

.thumbnail-container h2 {
    margin: 0;
}

.project {
    width: 80%;
    aspect-ratio: 16/9;
    position: fixed;
    background: #CCC;
    transition: all 0.75s, opacity 1s cubic-bezier(.17,.67,.25,1.01);
    background-color: var(--background);
    outline: 5px solid var(--outline);
    opacity: 0;

    flex-direction: column;
    align-items: center;

    background-position: center center;
    background-repeat: no-repeat;
}

.project h1 {
    font-size: 300%;
}

.close {
    position: absolute;
    height: 10%;
    aspect-ratio: 1/1;
    right: -5px;
    top: -5px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    color: var(--outline);
    border-width: 5px;
    border-color: var(--outline);
}

.close p {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

@keyframes makeVisible {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

@keyframes makeInvisible {
    from {opacity: 0.6;}
    to {opacity: 0;}
}

.randLetter {
    position: absolute;
    z-index: -1;
    font-size: 3vw;
    opacity: 0;

    animation-name: makeVisible;
    animation-duration: 2s;
    animation-play-state: paused;
}