@font-face {
    font-family: 'Monaco';
    font-style: normal;
    font-weight: normal;
    src: local('Monaco'), url('Monaco.woff') format('woff');
}

html {
    height: 100%;
}

body {
    height: 100%;
    /*margin: 0;*/
    /*color: rgb(204, 204, 204);*/
    color: rgb(22, 198, 12);
    background-color: rgb(12, 12, 12);
    font-family: Kode Mono;
    /*font-family: Monaco;*/
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100%;*/
    margin: 0;
}

#projects {
    display: flex;
    width: 50%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-around;
    margin-top: 10%;
}

.thumbnail {
    background-color: red;
    outline: 5px solid black;
    width: 30%;
    aspect-ratio: 1/1;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.project {
    position: fixed;
    background: #CCC;
    outline: 5px solid rgb(22, 198, 12);
    width: 80%;
    aspect-ratio: 16/9;
    transition: top 0.75s, left 0.75s, width 0.75s, height 0.75s, opacity 1s ease;
    flex-direction: column;
    align-items: center;
    background-color: rgb(12, 12, 12);
    opacity: 0;
}

/*#test {
    background-color: rgb(12, 12, 12);
}

#test2 {
    background-color: rgb(12, 12, 12);
}*/

.close {
    position: absolute;
    height: 10%;
    aspect-ratio: 1/1;
    right: 0;
}

@keyframes makeVisible {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes makeInvisible {
    from {opacity: 1;}
    to {opacity: 0;}
}

.randLetter {
    position: absolute;
    z-index: -1;
    font-size: 3vw;
    transition: opacity 2s;
    opacity: 0;
    animation-name: makeVisible;
    animation-duration: 2s;
    animation-play-state: paused;
}